.containerCities {
  display: flex;
  flex-direction: column;

  .containerOne {
    height: 100vh;
    opacity: 65%;
    padding: 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .cityTitle {
      display: flex;
      justify-content: center;
      margin-top: 40vh;
      
          h1 {
            color: white;
            text-align: center;
            font-family: "Source Sans Pro", sans-serif;
          }
    }
  }
  .containerFour {

      .containerTwo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 2rem;
        height: 100vh;
    
        text-align: center;
        padding: 3rem 3rem 0 3rem;
    
        text-align: left;
    
        h1 {
          font-family: "Source Sans Pro", sans-serif;
        }
    
        h2 {
          font-family: "Source Sans Pro", sans-serif;
          font-size: 14px;
          padding: 0.5rem 0.5rem 0.5rem 0;
        }
      }
    
      .containerThree {
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        padding: 0 3rem 3rem 3rem;
    
        .citiesEvents {
          background-image: url("https://images.unsplash.com/photo-1621886292650-520f76c747d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2371&q=80");
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          margin: 3rem 0;
          padding: 2rem;
          height: 300px;
          width: 100%;
    
          opacity: 65%;
    
          h2 {
            color: white;
            text-align: center;
            font-family: "Source Sans Pro", sans-serif;
            padding: 4rem 0;
            font-size: 46px;
          }
        }
    
        .citiesExperience {
          background-image: url("https://images.unsplash.com/photo-1615125946783-fbbea7de95a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1408&q=80");
          background-size: cover;
          background-position: center;
          background-position-y: bottom;
          background-repeat: no-repeat;
    
          padding: 2rem;
          margin: 3rem 0;
          height: 300px;
    
          opacity: 65%;
    
          h2 {
            color: white;
            text-align: center;
            font-family: "Source Sans Pro", sans-serif;
            font-size: 46px;
            padding: 4rem 0;
          }
        }
      }
  }
}

@media screen and (min-width: 800px) {

    .containerCities {
        flex-direction: row;
        justify-content: space-between;

        .containerOne {
            width: 50vw;

            .cityTitle {
                margin-top: 45%;
            }
        }
    

        .containerFour {
            padding: 5rem;
            width: 50vw;
            overflow-y: scroll;
            height: 100vh;

            .containerTwo {
                padding-top: 0;
                .coords {
                    font-size: 14px;
                    font-weight: bold;
                }
            }

            .containerThree {
                .citiesEvents {
                    margin-top: 0;
                    margin-bottom: 3rem;
                }
            }
        }
    }
}
