@import "../../Tools/General.scss";

.menuItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  
  justify-content: left;

  li {
    
    cursor: pointer;
    color: $secondary;
    font-weight: 600; 
    padding:  0 30px 10px;
    letter-spacing: 8px;

    &:hover {
      color: #000;
    }
  }
}

.active {
border-bottom: 2px solid $secondary;
}
@media screen and (min-width: 800px) {


.menuItems  {

  margin-top: 0;

    
    flex-direction: row;
  }


}
