@import "../../Tools/General.scss";

.discoverList {
  margin-top: 100px;

  margin-right: 30px;
}

.listItems {
  display: flex;
  // flex-direction: column;
  align-items: center;

  li {
    color: #b2a1a1;
    font-weight: 600;
    padding: 0 20px;
    letter-spacing: 8px;
    text-align: center;
  }
}


@media screen and (min-width: 800px) {
  .listItems {
    
    flex-direction: row;
  }
}
