@import "../../../Tools/General.scss";

.customBg {
  opacity: 0.75;
  max-height: 100vh;
  background-color: $main;
}

.parallaxContainer {
  display: flex;
  justify-content: center;

  padding: 3.5rem;

  height: 100vh;

  .parallaxText {
    display: flex;
    flex-direction: column;
    color: black;
    margin: 0 auto;

    justify-content: center;

    h2 {
      margin-bottom: 0.5em;
      font-size: 28px;
      text-align: center;
    }

    p {
      padding-top: 1rem;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 800px) {
  .parallaxContainer {
    padding: 25rem;

    .parallaxText {
      h2 {
        margin-bottom: 0.5em;
        font-size: 48px;
      }

      p {
        font-family: "Lora", sans-serif;
        font-size: 32px;
      }
    }
  }
}
