@import "../../Tools/General.scss";

.main {
    width: 100%;
    height: 100vh;
    padding: 120px 50px;
    background: url("https://images.unsplash.com/photo-1546121519-91d95d8fa183?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat;
    opacity: 90%;
    background-size: cover;
    background-position: center;

    .text {
        margin-top: 50px;
    }
}

.sectionCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 50px 0;
}


@media screen and (min-width: 800px) {
    
    .main {
        padding: 120px 180px;
    }

    .sectionCard {
        flex-direction: row;
    }
  }