@import "./../../../Tools/General.scss";

.textContainer {
  display: flex;
  margin: 50px 30px;

  text-align: left;
  flex-direction: column;

  h1 {
    font-family: "Source Sans Pro", sans-serif;
    text-align: left;
    font-weight: 700;

    margin-bottom: 50px;
    // line-height: 36px;
    font-size: 30px;
  }


  .quote {
    font-family: "Source Sans Pro", sans-serif;
    margin-top: 30px;

    font-size: 20px;
    line-height: 24px;
    font-weight: 400;

    

    span {
      display: block;
      text-align: right;
      font-size: 14px;
    }
  }
}

@media screen and (min-width: 800px) {
  .textContainer {
    margin: 0;
    height: 700px;
    max-width: 400px;

    overflow: hidden;

    flex-direction: column;

    justify-content: end;

    text-align: left;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 14px;
    }

    .quote {
      font-size: 16px;
    }
  }
}
