@import '../../../../Tools/General.scss';

.modalBtn {
    border: none;
    padding: 6px 24px;

    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 1rem;

    cursor: pointer;

    &:hover{
        background-color: $secondary;
        color: #fff;
        transition: all 0.4s ease;
    }
}