@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400&display=swap");

.carouselDiv {
  flex-direction: column;

  .leftText {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.firstScroll {
  display: flex;
  flex-direction: column;
  background-image: url("https://images.unsplash.com/photo-1558989835-97812eb9cf31?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80");
  height: 100vh;
  width: 100vw;
  color: white;

  .firstText {
    text-align: center;
    margin: 80% 0% 0% 0%;
    padding: 10px;
    height: 100px;
    width: 100%;
    background-color: rgba(76, 79, 83, 0.281);
    

    
    
    color: rgb(255, 255, 255);
    opacity: 80%;

    h3 {
      font-size: 20px;
    }

  }

  .secondText {
    margin: 28% 0% 0% 0%;
    text-align: center;
    

    h1 {
      font-family: "Lora", serif;
      font-size: 50px;
    }

    h2 {
      margin-top: -10px;
      font-size: 20px;
    }
  }


  .elements {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40%;
   
    
    .iconScroll {
      color: white;
      
      width: 70px;
      height: 70px;
      
    }
  
  }
  



img {
filter: opacity(85%);
height: 100vh;
width: 100vw;
object-fit: cover;
}



}

@media screen and (min-width: 800px) {
  
  .carouselDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 120vh;

    .leftText {
      width: 50%;

      h1 {
        font-size: 50px;
        margin-left: 6rem;
        text-align: left;
        margin-bottom: 0px;
      }
    }

    .containercity {
      width: 80%;
      gap: 2rem;
      
    }
  }

  .firstScroll {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    filter: brightness(90%);

   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    .firstText {
      text-align: center;
      margin: 12% 0% 0% 0%;
      padding: 40px;
      height: 160px;
      width: 600px;
      border-radius: 10px;
      

      text-align: left;
     
      color: rgb(255, 255, 255);
      opacity: 80%;

      h3 {
        font-size: 24px;
      }
    }

    .secondText {
      margin: 26% 10% 0% 0%;

      h1 {
        font-family: "Lora", serif;
        font-size: 150px;
      }

      h2 {
        margin-top: -22px;
        font-size: 24px;
      }
    }
 
    .elements {

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 40%;
  
  .iconScroll {
    color: white;
    margin-top: 10px;
    width: 70px;
    height: 70px;
    
  }}
}

img {
  filter: opacity(85%);
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}
 }