@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;0,800;1,200;1,300;1,400&display=swap");

.carouselDiv {
  flex-direction: column;

  .leftText {
    width: 100%;
  }

  h1 {
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
  }
}

.firstScroll {
  display: flex;
  flex-direction: column;

  background-image: url("./Home.png");
  height: 100vh;
  width: 100vw;
  color: white;

  .secondText {
    text-align: center;

    h1 {
      font-family: "Lora", serif;
      font-weight: 500;
      font-size: 50px;
    }

    h2 {
      margin-top: -10px;
      font-size: 20px;
    }
  }

  .elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .iconScroll {
      color: white;

      width: 70px;
      height: 70px;
    }
  }

  img {
    filter: opacity(85%);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
  }
}

@media screen and (min-width: 800px) {
  .firstScroll {
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;

    .secondText {
      margin-top: 12%;

      h1 {
        font-family: "Lora", serif;
        font-size: 150px;
        margin-bottom: 1rem;
      }

      h3 {
        margin-top: 3rem;
      }

      button {
        width: 300px;
        height: 70px;
        border-radius: 35px;
        background-color: white;
        border: none;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: bold;
        font-size: 16px;

        &:hover {
          background-color: rgb(219, 215, 210);
        }
      }
    }

    video {
      height: 100vh;
      width: 100%;
    }

    .elements {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-bottom: 10px;

      .iconScroll {
        color: white;
        margin-top: 10px;
        width: 60px;
        height: 60px;
      }
    }
  }

  .bgScroll {
    display: flex;

    flex-direction: row;
    
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
  }

  img {
    width: 340px;
    height: 400px;
    border-radius: 45%;
  }

  .carouselDiv {
    background-color: rgb(15, 42, 68);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    

    .leftText {
      width: 50%;

      h1 {
        font-size: 50px;
        margin-left: 6rem;
        text-align: left;
        margin-bottom: 0px;
      }
    }

    .containercity {
      
      width: 100%;
      
    }
  }
}
