.discover_card {
 
  height: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-repeat: no-repeat;
  background-size: cover;
  filter: opacity(85%);

  box-shadow: 0px 0px 10px 5px rgb(244, 239, 239, 0.8);
  border-radius: 22px;
  margin-bottom: 2rem;

  .icon {
    padding: 1.5rem;
    color: white;

    display: flex;

    justify-content: space-between;

    img {
      width: 30px;
      height: 30px;
    }

    p {
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 600;
      font-size: 26px;
    }
  }

  .description_container {
    background-color: #fff;
    height: 150px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      h1 {
        font-size: 14px;
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 700;
      }

      p {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 500;
        font-size: 14px;
        width: 280px;
      }
    }

    .btn_title {
      display: flex;
      justify-content: center;

      button {
        width: 100%;
        padding: 0.5rem;
        // border: 1px solid #000;
        border: none;
        border-radius: 10px;
        // background-color: #fff;
        color: #000;

        p {
          font-weight: 600;
          font-size: 12px;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .discover_card {
    width: 400px;
    height: 350px;

    margin-bottom: 1rem;

   

    &:hover {
      transform: scale(1.02);
    }
    
    .description_container {
      
      
      

      .btn_title {
        

        button {
          
          cursor: pointer;

          &:hover {
            color: white;
            background-color: #bc6e7e;
            border: 1px solid #fff;
          }
        }
      }
    }
  }
}
