@import "../../../Tools/General.scss";

.discoverCard {
  padding: $sidePadding;

  margin-top: 200px;
  display: flex;
  width: 450px;
  height: 500px;
}

.title {
  display: flex;
  flex-direction: column;
  margin-right: 20px;

  h2 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
  }
  h4 {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
  }

  img {
    width: 50px;
    height: 50px;
    margin-top: 50px;
  }
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;

  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 600;
    margin-top: 20px;
  }

  img {
    width: 250px;
    height: 250px;
  }
}


