@import "../../Tools/General.scss";

.discoverContOne {
  display: flex;
  flex-direction: column;

  .discoverElementOne {
    display: block;
    width: 65vh;
  }

  .discoverElementTwo {
    display: none;
  }

  .containerCard {
    display: block;
    margin-left: 25%;
  }
}

@media screen and (min-width: 800px) {
  .discoverContOne {
    flex-direction: row;

    .discoverElementOne {
      justify-content: left;
      width: 40%;
    }

    .discoverElementTwo {
      display: block;
      width: 50%;

      align-items: center;
    }

    .containerCard{
      display: flex;
      margin-top: 150px;
      flex-direction: row;
      flex-wrap: wrap;
      overflow: auto;
      height: 850px;
      width: 950px;
      margin-left: -50%;
    }
    .containerCard::-webkit-scrollbar {
    display: none;
    }
    .mobileMenu{
      display: none;
    }
  }
}