@import "../../Tools/General.scss";

.popular, .favorite, .reccomended, .allCard{
  display: none;
}

.discoverContOne {
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  padding: 100px 0;

  .discoverElementOne {
    display: block;
  }

  .discoverElementTwo {
    .containerCard {
      display: flex;
      justify-content: center;
      flex-direction: column;
   

    }
  }

.discoverMenuContainer {
    display: none;
  }

  .mobileMenu {
    display: block;
  }

  .containerCard {


    margin-left: 0;
  }
}


@media screen and (min-width: 800px) {
  .discoverContOne {
  
    flex-direction: row;
    gap: 1rem;
    margin: 0;
    padding: 100px 70px 50px;

    height: 100vh;

    .discoverMenuContainer {
      display: block;
    }


    .discoverElementOne {
      
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 6rem;
      
      padding-top: 4rem;
      padding-bottom: 6.5rem;
      padding-left: 67px;



      min-width: 35vw;
      max-width: 700px;
    }

    .discoverElementTwo {
      
      

      display: flex;
      justify-content: space-between;
      flex-direction: column;

      padding: 6.5rem 0;


      gap: 6rem;
      // width: 50%;

      

      
      .containerCard{
        
        gap: 3rem;
        justify-content: left;
        // margin-top: 150px;
        
        flex-direction: row;
        flex-wrap: wrap;
        overflow: auto;
        height: 800px;

        border-radius: 10px;

        // box-shadow: 0px 0px 10px 5px rgb(244, 239, 239, 0.6);

      
      }
    }


    .containerCard::-webkit-scrollbar {
    display: none;
    }

    .mobileMenu{
      display: none;
    }
  }
}