@import '../../../../Tools/General.scss';



.inputContainer {
    display: flex;
    flex-direction: column;

    .modalLabel {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        color: #4B5563;
        font-size: 14px;
        margin-bottom: 0.8rem;
    
    }

    .modalInput {
        padding: 5px 5px;
    }

}





@media screen and (min-width: 800px) 
{.inputContainer {
    display: flex;
    flex-direction: column;

    .modalLabel {
        font-family: "Source Sans Pro", sans-serif;
        font-weight: 600;
        color: #4B5563;
        font-size: 14px;
        margin-bottom: 0.8rem;
    
    }

    .modalInput {
        padding: 5px 5px;
    }

}
}
