@import "../../Tools/General.scss";

.hero {
    height: 500px;
    background: url("https://images.unsplash.com/photo-1603487831378-8cff3872abef?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80") no-repeat;
    background-position: -300px;
    opacity: 0.7;

    h1 {
        color: $mainLighter;
        font-size: 40px;
        padding-top: 30px;
        margin-left: 30px;
    }
}

.cityList {
    margin: 30px auto;
    letter-spacing: 5px;

    ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        li {
            padding: 10px 15px;
        }
    }
}

.sectionCity {
    display: block;
}

.sectionBlock {
    width: 300px;
    height: 450px;
    margin: 30px 0;
    padding-top: 30px;
    background: url("https://images.unsplash.com/photo-1524835208047-0ed22b4dbc82?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=387&q=80") no-repeat;
    opacity: 0.8;

    >* {
        color: $mainLighter;
        text-align: center;
    }


}

@media screen and (min-width: 800px) {

    .hero {
    
        h1 {
            font-size: 50px;
            padding-top: 80px;
            margin-left: 60px;
        }
    }

    .cityList {
    
            li {
                padding: 0 15px;
            }

            a:hover {
                color: $secondary;
              }
        }


  
  }