@import "../../Tools/General.scss";

.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2rem;

  width: 100%;
  height: auto;
  bottom: 0;
  background-color: $main;

  padding: 2rem;

  text-align: center;

  .footerText {
    h4 {
      padding-top: 0.5rem;
      font-family: "Source Sans Pro", sans-serif;
    }

    p {
      font-family: "Lora", serif;
    }
  }

  .footerSocial {
    .social_icon {
      width: 30px;
      margin: 0 10px;
      color: #000;
    }
  }

  .footerContact {
    display: flex;
    flex-direction: row;
    justify-content: center;

    p {
      font-family: "Lora", serif;
      padding: 0 0.5rem;
    }
  }
}

@media screen and (min-width: 800px) {

    .footer {
        justify-content: space-between;
        flex-direction: row;
        padding: 3rem 18rem;
    }
}
