@import "../../Tools/General.scss";

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12vh;
    bottom: 0;
    padding: 20px;
    background-color: $main;
}

.footerText {
    text-align: center;
    margin: 0 auto 20px;

    p {
        font-family: 'Lora', serif;
    }

    p:nth-child(2) {
        font-style: italic;
        margin-top: 10px;
      }
}

.footerSocial {
    text-align: center;
    margin: 0 auto;

    .social_icon{
        width: 30px;
        margin: 0 10px;
        color: $secondary;
    }
}