@import "../../Tools/General.scss";

.footer {
display: grid;
flex-direction: column;
justify-content: space-between;
grid-template-columns: 1fr;

width: 100%;
height: auto;
background-color: $main;

padding: 0 2rem;


text-align: center;



.footerText {
  h4 {
    padding-bottom: 0.5rem;
    font-family: "Source Sans Pro", sans-serif;
  }

  p {
    font-family: "Lora", serif;
  }
}

.footerSocial {
  padding: 1.5rem 0 1rem;
  .social_icon {
    width: 30px;
    margin: 0 10px;
    color: #000;
  }
}

.footerContact {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;

  p {
    font-family: "Lora", serif;
    padding: 0 0.5rem;
  }
}
}

@media screen and (min-width: 800px) {

  .footer {
  
      display: grid;
      align-items: start;
      grid-template-columns: repeat(3, 1fr);
      padding: 2rem 0;
      
      

      .footerSocial {
        padding-top: 0;
      }
    
      .footerContact {
        padding-top: 0;
      }
  }
}
