.textComponent {

  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
  }

  p {
    margin-top: 0.5rem;

    font-size: 14px;
  }
}



@media screen and (min-width: 800px) {.textComponent {

  h3 {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
  }

  p {
    margin-top: 0.5rem;
    max-height: 126px;
    overflow-x: hidden ;
    font-size: 14px;
  }
}
}