@import "./../../../Tools/General.scss";


.selectContainer {


    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 250px;
    height: auto;
    margin: 3rem auto;
   


    select {
        padding: 0.5rem;
    }


    label {
        
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: bold;
        font-size: 40px;
    }

.selectCity {

    width: 250px;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;


}

}

@media screen and (min-width: 800px) {

    .selectContainer {
        margin: 0em;
    }

}