@import "../../../Tools/General.scss";

.wrapperCard {
    height: 400px;
    background-color: $main;
    border-radius: 16px;
    padding: 60px 40px;

    h3 {
        display: block;
        font-weight: 800;
        font-size: 20px;
        margin-bottom: 0.3rem;
    }

   p {
        width: 100%;
        margin-bottom: 30px;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 6px;
        background-color: #fff;
        font-weight: 600;

    }

    .cookies {
        font-size: 13px;
        background-color: transparent;
        font-weight: 500;
        padding: 0;
    }
}

@media screen and (min-width: 800px) {
    
    .wrapperCard {
        width: 700px;
        height: 350px;

        input {
            width: 300px;
        }
    }
  }