@import "./../../../Tools/General.scss";

.discoverList {
  
  margin-top: 200px;
  
  

  ul {

    display: flex;
    flex-direction: row;
    justify-content: center;
    
    margin-right:  30px;

  }

  
}
