

.rec.rec-carousel {
  width: 100vw;
}



.rec.rec-arrow {
  border-radius: 0;
  color: rgba(0, 0, 0, 0.5);
  background-color: #f4efef;
  box-shadow: none;
  visibility: hidden;
}


.rec.rec-arrow.rec-arrow:hover {
  background-color: #BC6E7E;
}

.rec.rec-arrow.rec-arrow:focus {
  background-color: #BC6E7E;
}

.rec.rec-dot {

  background-color: #f4efef;
  box-shadow: none;

} 

.rec.rec-dot:hover { 

background-color: #BC6E7E;
box-shadow: none;

}

@media screen and (min-width: 800px) {

  .rec.rec-arrow {
    
    visibility: visible;
  
  }


  .rec.rec-carousel {
    width: 100% ;
  }



}