

.rec.rec-carousel {
  width: 100vw;
}



.rec.rec-arrow {
  border-radius: 0;
  color: white;
  border: 2px solid white;
  box-shadow: none;
  visibility: hidden;
  border-radius: 10px;
}


.rec.rec-arrow.rec-arrow:hover {
  background-color: #BC6E7E;
  border: none
}

.rec.rec-arrow.rec-arrow:focus {
  background-color: #BC6E7E;
}

.rec.rec-dot {

  background-color: #f4efef;
  box-shadow: none;


} 

.rec.rec-dot:focus {
  background-color: #BC6E7E;
  box-shadow: none;
}


.rec.rec-dot:hover { 

background-color: #BC6E7E;
box-shadow: none;

}

@media screen and (min-width: 800px) {

  .rec.rec-arrow {
    
    visibility: visible;
  
  }


  .rec.rec-carousel {
    width: 80% ;
  }



}