@import "../../Tools/General.scss";

.main {
    display: flex;
    flex-direction: column-reverse;

    .main_image {
        background: url("https://images.unsplash.com/photo-1517217004452-4ff260cb5598?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=464&q=80") no-repeat;
        background-size: cover;
        height: 600px;
        opacity: 90%;
    }

    .main_title {
        width: 100%;
        height: 500px;
        padding: 10rem 0;
        text-align: center;

        h1 {
            font-size: 5rem;
        }
    }

    .subText {
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-weight: 600;
            padding-right: 10px;
        }
    }

    .btn {
        margin: 0 auto;
        display: block;

        font-weight: 600;
        padding: 0.5rem 1rem;
        border-radius: 10px;
        border: none;
        cursor: pointer;

        &:hover {
          background-color: $secondary;
          color: #fff;
          transform: scale(1.02);
          transition: 0.3s all ease;
        }
      }
}

@media screen and (min-width: 800px) {
    .main {
        flex-direction: row;

        .main_image {
            width: 100%;
            height: 100vh;
        }

        .main_title {
            height: 85vh;

            h1 {
                font-size: 8rem;
            }
        }
    }
  }