@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,200;1,300;1,400&display=swap');

/* Colors */
$black: #000;
$blackOpacity: rgba(0, 0, 0, 0.1);

$main: #F4EFEF;
$secondary: #bc6e7e;

$mainLighter: rgb(242, 242, 242);
$mainDarker: rgb(8, 8, 8);


/* Global */
$transition: all 3s ease;
$baseTransition: all 0.4s ease;

$light-shadow: rgba(52, 54, 56, 0.2);
$dark-shadow: rgba(52, 54, 56, 0.8);

// Box
$sidePadding: 30px;


//font
$fontPlayfair: 'Playfair Display', serif;


*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4 {
    font-family: 'Lora', serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p,
li {
    font-family: 'Source Sans Pro', sans-serif;
}


.wrapperPage {
  margin: 100px 40px 0;
}

  @media screen and (min-width: 800px) {

    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    h3 {
      font-size: 1.75rem;
    }

    h4 {
      font-size: 1rem;
    }

    .wrapperPage {
      margin: 200px 70px 50;
    }
    
  }


